
*.vsidx
*.vsidx
*.vsidx
.vs/GXPEngine/FileContentIndex/ad2b7d52-34f7-481e-8756-f905a823776f.vsidx
.vs/GXPEngine/FileContentIndex/b4f821b6-849e-4e2b-a354-6649e99740b3.vsidx
.vs/GXPEngine/v16/.suo
*.cache
